/**********
Button
**********/
.p-button-box{
  display: flex;
  width: 50%;
  margin: 30px auto;
}

.p-button{
  padding:(24/16)+em ;
  margin:(24/16)+em  auto;
  border-radius: 50px;

 

  &.__reload{
    color:$main-color;
    background-color:lighten($primary-color, 10%);
    border-bottom: solid 4px $primary-color;
    &:hover {
      background-color:lighten($primary-color, 20%);
    }
    &:active {
      transform: translateY(4px);
      border-bottom: none;
    }
 }
  &.__primary {
    color:$main-color;
    background-color:$accent-color;
    border-bottom: solid 4px $primary-color;
    &:hover {
      background-color:lighten($accent-color, 10%);
    }
    &:disabled{
        background-color:$dark-color;
    }
    &:active {
      transform: translateY(4px);
      border-bottom: none;
    }
 }

}

 /**********
List
**********/


.p-list-box{
    text-align: center;
    position:relative;
    width:500px;
    max-width:100%;
    margin:50px auto;
    height:50vh;
    &:after{
      filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
      display:block;
      content:"";
      width: 130px;
      height: 130px;
      background-color:$light-color;
      border-radius:100px;
      top:0;
      bottom:0;
      left: 0;
      right: 0;
      margin:auto;
      position: absolute;
    }  
}

.p-list{
  cursor: pointer;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  top: 40%;
  left: 40%;
  position: absolute;
  background-color:$sub-color;
  padding:50px 50px;
  border-radius:50px 50px 40px 40px;
  font-size: 1em;
  display:block;
  height:100px;
  width:1px;
  &:before {
    content: "";
    position: absolute;
    top: 85%;
    left: 10%;
    margin-left: 0px;
    border: 40px solid transparent;
    border-top: 50px solid $sub-color;
  }
}

.fadeout {
  animation : fadeOut 1s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**********
Result
**********/

.p-result-box{
  &.__text{
  text-align: center;
  font-size: 2em;

  & img{
    width: 200px;
  }
}


}